{% extends 'exer3/base.html' %}

{% block content %}
<h1 style="text-align: center;">Student Records</h1>   
<div class="container">
    <div class="row profile">
    	<div class="col-md-1">
		</div>
		<div class="col-md-3">
		<form action="{% url 'search' %}" method="post">
		{% csrf_token %}
    		<input class="btn3" type="text" placeholder="Search" id="srch" name="srch" required>
    		<input class="btn3" type="submit" value="SEARCH" />
		</form>
		<form action="{% url 'add' %}" method="post">
		{% csrf_token %}
    		<input class="btn2" type="submit" value="ADD" />
		</form>
		
		
		</div>
		<div class="col-md-6">
	<table>
	<tr>
		<th>Name</th>
		<th>Subject</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>

		{% for post in sect %}
		<tr>
        <td>{{post.student}}</td>
        <td>{{post.section}}</td>
		<td><a class="btn btn-default" href="{% url 'remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
		<td><a class="btn btn-default" href="{% url 'edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
		</tr>
        {% endfor %}
	</table>
		</div>
	</div>
</div>

{% endblock %}